<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="user.username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="user.password" name="password" required>

    <button type="submit">Login</button>
  </form>
  <p> <a routerLink="/admin">Admin-login</a></p>
  <p><a routerLink="/User-reg">Register</a></p>
  <p *ngIf="loginError" class="error-message">{{ loginError }}</p>
</div>